.contenedor{
    position: relative;
}
h1{
    color: rgb(0, 0, 0);
	font-size : 25pt;
	font-family:monospace;
}
.titulo{
    color:rgb(0, 0, 0);
    font-size: 15;
    font-family: monospace;
}

.boton {
    padding: 10px 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.boton:hover {
background-color: #197826;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.boton::after {
content: " ▼";
font-size: 12px;
}

